<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spartan&display=swap">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
    {% block header %}
        <head>
            <title>MAZALO</title>
            <meta charset="UTF-8">
        </head>
           <a href="{{ path('app_homepage') }}"><div id="logo"><img src=""></div></a>
            <h1>ZA-MALO SHOP</h1>
            <button id="login">Login</button>
            <button id="logout" >Log out</button>
            <input id="countCart" value="0">
            <button id="cart"></button>
            <div id="nav">
                <div id="proizvodi"><h2>PROIZVODI</h2>
                    <ul>
                        <li>ime kategorije</li>
                    </ul>
                </div>
                <button id="button1">LOKACIJE</button>
                <button id="button2">O NAMA</button>
                <button id="button3">KONTAKT</button>
            </div>
    {% endblock %}
        {% block body %}{% endblock %}
    {% block footer %}
            <div id="f1">
                <div class="footer1">
                    <h2>INFORMACIJE</h2>
                    <p>O nama</p>
                    <p>Gde kupiti</p>
                    <p>Zaposlenje</p>
                    <p>Aktuelnosti</p>

                </div>
                <div class="footer1">
                    <h2>SLUZBA ZA REKLAMACIJE</h2>
                    <p>Radnim danima od 08:00h do 17:00h</p>
                    <p>Subotom od 08:00h do 12:00h</p>
                    <p>0700/23-17-429<br> (Samo sa fiksne mreze)</p>
                    <p>065/2317429</p>
                </div>
                <div class="footer1">
                    <h2>PRATITE NAS</h2>
                    <button id="instagram"></button>
                    <button id="twitter"></button>
                    <button id="facebook"></button>
                    <button id="youtube"></button>
                </div>
                <div class="footer1">
                    <h2>POMOĆ PRI KUPOVINI</h2>
                    <p>Kako kupiti ONLINE</p>
                    <p>Prodajna mesta</p>
                    <p>Načini plaćanja</p>
                    <p>Najčešća pitanja</p>

                </div>
            </div>
            <div class="fbottom">
                &copy; mazalo.com | Designed by Marko Cvetic
            </div>
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    </body>
</html>
